<div class="form-wrappers">
    <h2>Update <%= manga.title %></h2>
    <form action="/manga/<%= manga.id %>" method="POST">
        <input type="hidden" name="_method" value="PUT">
        <label for="">Title</label>
        <input class="input-fld" type="text" name="title" value="<%= manga.title %>">
        <label for="">Author</label>
        <input class="input-fld" type="text" name="author" value="<%= manga.author_name %>">
        <label for="">Image URL</label>
        <input class="input-fld" type="text" name="image_url" value="<%= manga.image_url %>">
        <label for="">Synopsis</label>
        <textarea name="synopsis" cols="76" rows="10"><%= manga.synopsis %></textarea>
        <button class="btn">Update <%= manga.title %></button>
    </form>
</div>