<div class="ui-card-wrapper">
    <div class="ui-card content max-width-card">
    <% if (isBookmarked) { %>
        <form class="bookmark-btn-wrapper" action="/manga/<%= manga.id %>/unbookmark" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <button class="bookmark-btn"><img src="/images/bookmark-fill.svg" alt=""></button>
    <% } else { %>
        <form class="bookmark-btn-wrapper" action="/manga/<%= manga.id %>/bookmark" method="POST">
        <button class="bookmark-btn"><img src="/images/bookmark.svg" alt=""></button>
    <% } %>
        </form>
        <section id="top">
            <img src="<%= manga.image_url %>" alt="">
        </section>
        <section class="content" id="bottom">
            <span><h3><%= manga.title %></h3></span>
            <span><h3>"<%= manga.author %>"</h3></span>     
        </section>
        <p><%= manga.synopsis %></p>
        <a href="">More by "<%= manga.author %>"</a>
    </div>
</div>

<footer class="footer">
    <h2><a href="/manga/<%= manga.id %>/edit">Does something not look right? Edit it here!</a></h2>
</footer>